<div class="pop-container">
    <div class="pop-main">
        <div class="tab-control">
            <span>登录</span> | <span>注册</span> <span>x</span>
        </div>
        <div class="login-page">
            <form action="" method="POST">
                <input type="text" name="emailorphone" placeholder="请输入登录手机/邮箱">
                <p class="emailorphone-titel"></p>
                <input type="password" name="password" placeholder="请输入密码">
                <p class="password-title"></p>
                <p><input type="checkbox" name="singon" ><span>七天内免登录</span><a href="#">找回密码</a></p>
                <input type="submit" value="登录">
            </form>
        </div>
        <div class="reg-page">
            <form action="" method="POST">
                <input type="text" name="phonenum" placeholder="请输入注册手机号">
                <p class="phonenum-title"></p>
                <input type="text" name="code" placeholder="请输入验证码">
                <p class="code-title"></p>
                <p><input type="checkbox" name="agreement">同意协议</p>
                <input type="submit" value="注册">
            </form>
        </div>
        <div class="reg-page2">
            <form action="" method="POST">
                <p>填写短信验证码和密码完成注册</p>
                <p>短信验证码已经发到 {phonenum} </p>
                <input type="text" name="code2" placeholder="请输入短信验证码">
                <p class="code2-title"></p>
                <input type="password" name="password" placeholder="8-20位, 字母/数字/符号至少包含两种">
                <input type="submit" value="完成">
                <span id="back-reg-page">返回修改手机</span>
            </form>
        </div>

    </div>
</div>