<!DOCTYPE html>
<html lang="zh-ch">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Grizzly - 联系我们</title>
    <link rel="stylesheet" href="__CSS__/style.css">
    <link rel="stylesheet" href="__CSS__/bootstrap.min.css">
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a class="hide" href="{:url('index')}"><img class="logo" src="__IMG__/logo.jpg"></a></li>
            <li><a href="{:url('index')}">首页</a></li>
            <li><a href="{:url('index/news')}">新闻</a></li>
            <li><a href="{:url('index/picture')}">玩家相册</a></li>
            <li><a href="{:url('index/about')}">关于我们</a></li>
            <li><a class="on" href="{:url('index/contact')}">联系我们</a></li>
            <li><a href="#">登录</a></li>
        </ul>
    </nav>
    <div class="con-main">
        <div class="con-main1">
            <ul>
                <li>
                    <img class="tx" src="__IMG__/logo.jpg" alt="">
                        <p class="gp">Grizzly 服务器</p>
                    <a href="https://jq.qq.com/?_wv=1027&k=5Oi7JGH" target="_blank" rel="noopener noreferrer"><img src="__IMG__/ico/qq.png" alt="QQ群"></a>
                    <a href="https://discord.gg/NwqSwq" target="_blank" rel="noopener noreferrer"><img src="__IMG__/ico/discord.png" alt="Discord"></a>
                </li>
                <li>
                    <a href="http://wcz.one/" target="_blank"><img class="tx" src="__IMG__/wcz.jpg" alt=""></a>
                    <p class="gp">WCZ - 服主</p>
                    <a href="https://discord.gg/NwqSwq" target="_blank" rel="noopener noreferrer"><img src="__IMG__/ico/discord.png" alt="Discord"></a>
                    <a href="https://www.facebook.com/wuchongzhu" target="_blank" rel="noopener noreferrer"><img src="__IMG__/ico/facebook.png" alt="Facebook"></a>
                    <a href="https://github.com/Fisherman-wcz" target="_blank" rel="noopener noreferrer"><img src="__IMG__/ico/github.png" alt="Github"></a>
                    <a href="https://www.instagram.com/webber0w/" target="_blank" rel="noopener noreferrer"><img src="__IMG__/ico/ins.png" alt="Ins"></a>
                    <a href="https://paypal.me/grizzlywcz?locale.x=zh_XC" target="_blank" rel="noopener noreferrer"><img src="__IMG__/ico/paypal.png" alt="paypal"></a>
                    <a href="http://wpa.qq.com/msgrd?v=3&uin=707636381&site=qq&menu=yes" target="_blank" rel="noopener noreferrer"><img src="__IMG__/ico/qq.png" alt="QQ"></a>
                    <a href="https://twitter.com/WCZ___?s=05" target="_blank" rel="noopener noreferrer"><img src="__IMG__/ico/twitter.png" alt="Twitter"></a>
                </li>
                <li>
                    <img class="tx" src="__IMG__/sponge.jpg" alt="">
                    <p class="gp">Sponge - 管理员</p>
                    <a href="http://wpa.qq.com/msgrd?v=3&uin=1392198714&site=qq&menu=yes" target="_blank" rel="noopener noreferrer"><img src="__IMG__/ico/qq.png" alt="QQ"></a>
                </li>
            </ul>
        </div>
    </div>
    <!-- 页脚 -->
    {include file="common/footer" /}

    <audio autoplay="autoplay" loop="loop" src="https://m10.music.126.net/20190110000248/93867d15dfb415a03a8ed8059f8fdd5a/ymusic/648f/ce70/fc62/11adf0b6a6b72298b101cbf6e63d6956.mp3"></audio>
    <script src="__JS__/bootstrap.min.js"></script>
    <script src="__JS__/jquery-3.4.1.min.js"></script>
</body>
</html>