<!DOCTYPE html>
<html lang="zh-ch">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Grizzly - 玩家相册</title>
    <link rel="stylesheet" href="__CSS__/style.css">
    <link rel="stylesheet" href="__CSS__/bootstrap.min.css">
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a class="hide" href="{:url('index')}"><img class="logo" src="__IMG__/logo.jpg"></a></li>
            <li><a href="{:url('index')}">首页</a></li>
            <li><a href="{:url('index/news')}">新闻</a></li>
            <li><a class="on" href="{:url('index/picture')}">玩家相册</a></li>
            <li><a href="{:url('index/about')}">关于我们</a></li>
            <li><a href="{:url('index/contact')}">联系我们</a></li>
            <li><a href="#">登录</a></li>
        </ul>
    </nav>
    <!-- 内容 -->
    <div class="pic-content">
        <ul>
            <li><img src="__IMG__/serverpic/sp01.png" alt=""></li>
            <li><img src="__IMG__/serverpic/sp02.png" alt=""></li>
            <li><img src="__IMG__/serverpic/sp03.png" alt=""></li>
            <li><img src="__IMG__/serverpic/sp04.png" alt=""></li>
            <li><img src="__IMG__/serverpic/sp05.png" alt=""></li>
            <li><img src="__IMG__/serverpic/sp06.png" alt=""></li>
            <li><img src="__IMG__/serverpic/sp07.png" alt=""></li>
            <li><img src="__IMG__/serverpic/sp08.png" alt=""></li>
            <li><img src="__IMG__/serverpic/sp09.png" alt=""></li>
            <li><img src="__IMG__/serverpic/sp10.png" alt=""></li>
            <li><img src="__IMG__/serverpic/sp11.png" alt=""></li>
            <li><img src="__IMG__/serverpic/sp12.png" alt=""></li>
            <li><img src="__IMG__/serverpic/sp13.png" alt=""></li>
            <li><img src="__IMG__/serverpic/sp14.png" alt=""></li>
            <li><img src="__IMG__/serverpic/sp15.png" alt=""></li>
            <li><img src="__IMG__/serverpic/sp16.png" alt=""></li>
            <li><img src="__IMG__/serverpic/sp17.png" alt=""></li>
            <li><img src="__IMG__/serverpic/sp18.png" alt=""></li>
            <li><img src="__IMG__/serverpic/sp19.png" alt=""></li>
            <li><img src="__IMG__/serverpic/sp20.png" alt=""></li>
            <li><img src="__IMG__/serverpic/sp21.png" alt=""></li>
            <li><img src="__IMG__/serverpic/sp22.png" alt=""></li>
            <li><img src="__IMG__/serverpic/sp23.png" alt=""></li>
            <li><img src="__IMG__/serverpic/sp24.png" alt=""></li>
            <li><img src="__IMG__/serverpic/sp25.png" alt=""></li>
            <li><img src="__IMG__/serverpic/sp26.png" alt=""></li>
            <li><img src="__IMG__/serverpic/sp27.png" alt=""></li>
            <li><img src="__IMG__/serverpic/sp28.png" alt=""></li>
            <li><img src="__IMG__/serverpic/sp29.png" alt=""></li>
            <li><img src="__IMG__/serverpic/sp30.png" alt=""></li>
        </ul>
    </div>

    <!-- 页脚 -->
    {include file="common/footer" /}

    <audio autoplay="autoplay" loop="loop" src="https://m10.music.126.net/20190110000248/93867d15dfb415a03a8ed8059f8fdd5a/ymusic/648f/ce70/fc62/11adf0b6a6b72298b101cbf6e63d6956.mp3"></audio>
    <script src="__JS__/bootstrap.min.js"></script>
    <script src="__JS__/jquery-3.4.1.min.js"></script>
    <script src="./js/popper.min.js"></script>

</body>
</html>