<!DOCTYPE html>
<html lang="zh-ch">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Grizzly - 一个MineCraft养老服务器</title>
    <link rel="stylesheet" href="__CSS__/style.css">
    <link rel="stylesheet" href="__CSS__/main.css">
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a class="hide" href="{:url('index')}"><img class="logo" src="__IMG__/logo.jpg"></a></li>
            <li><a class="on" href="{:url('index')}">首页</a></li>
            <li><a href="{:url('index/news')}">新闻</a></li>
            <li><a href="{:url('index/picture')}">玩家相册</a></li>
            <li><a href="{:url('index/about')}">关于我们</a></li>
            <li><a href="{:url('index/contact')}">联系我们</a></li>
            <li><a href="#">登录</a></li>
        </ul>
    </nav>

    <div class="main">
        <form id="reg" name="reg" method="POST" action="">
            <span>用户名</span><input type="text" name="username">
            <span>密码</span><input type="password" name="password">
            <span>重复输入密码</span><input type="password" name="againpassword">
            <span>邮箱</span><input  type="email" name="email">
        </form>
    </div>

    <!-- 页脚 -->
    {include file="common/footer" /}
    
    <audio autoplay="autoplay" loop="loop" src="https://m10.music.126.net/20190110000248/93867d15dfb415a03a8ed8059f8fdd5a/ymusic/648f/ce70/fc62/11adf0b6a6b72298b101cbf6e63d6956.mp3"></audio>
    <script src="__JS__/jquery-3.4.1.min.js"></script>
    <script src="__JS__/main.js"></script>
</body>
</html>
